@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

:root {
    --poppins: "Poppins", sans-serif;
    --rubik: "Rubik", sans-serif;
    --fontLogo: "Righteous", cursive;
    --fontHeader: "Cinzel", serif;
}
